# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# vscode
.DS_Store
.vscode

# Apple-specific garbage files.
.AppleDouble

.idea

